@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<div>
    <label for="uname">Elige un nombre de usuario: </label>
    <input type="text" id="uname" name="name" />
</div>
<div>
    <button>Enviar</button>
</div>